<!doctype html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Teacher Form Page</title>
</head>
<body>
<div layout:fragment="main-content">

    <div th:if="${ not#lists.isEmpty(teachers)}">
        <table  class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th sec:authorize="hasRole('ADMIN')" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher : ${teachers}">
                <td th:text="${teacher.firstName}"></td>
                <td th:text="${teacher.lastName}"></td>
                <td th:text="${teacher.email}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <button type="submit" th:id="${teacher.id}"
                            name="deleteTeacher"><i class="remove user icon"></i>
                        Delete</button>
                </td>
            </tr>
            </tbody>
            </table>
    </div>

    <script type="text/javascript">
        $("[name='deleteTeacher']").click(function() {
            var urlCall = "/teachers/";
            $.ajax({
                url : urlCall + $(this).attr('id'),
                type : 'DELETE',
                success : function(result) {
                    console.log(result);
                    $(location).attr("href", value="/teacherlist");
                },
                error : function(result) {
                    console.log(result);
                },
            });
        });
    </script>
</div>
</body>
</html>